<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>D</key>
	<dict>
		<key>public.kern2.comma</key>
		<integer>-50</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-160</integer>
		<key>public.kern2.comma</key>
		<integer>-150</integer>
		<key>public.kern2.n</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
		<key>public.kern2.period</key>
		<integer>-100</integer>
		<key>public.kern2.y</key>
		<integer>-80</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>Zcaron</key>
		<integer>0</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotesingle</key>
		<integer>-30</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>-50</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>J</key>
		<integer>-70</integer>
		<key>public.kern2.o</key>
		<integer>-90</integer>
		<key>public.kern2.y</key>
		<integer>-100</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-30</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-70</integer>
		<key>public.kern2.n</key>
		<integer>-130</integer>
		<key>public.kern2.o</key>
		<integer>-120</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>e</key>
		<integer>-100</integer>
		<key>i</key>
		<integer>-70</integer>
		<key>o</key>
		<integer>-80</integer>
		<key>public.kern2.A</key>
		<integer>-240</integer>
		<key>public.kern2.y</key>
		<integer>-110</integer>
		<key>u</key>
		<integer>-70</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>a</key>
		<integer>-220</integer>
		<key>e</key>
		<integer>-150</integer>
		<key>eacute</key>
		<integer>-90</integer>
		<key>ecircumflex</key>
		<integer>-100</integer>
		<key>egrave</key>
		<integer>-50</integer>
		<key>h</key>
		<integer>-70</integer>
		<key>i</key>
		<integer>-90</integer>
		<key>o</key>
		<integer>-130</integer>
		<key>u</key>
		<integer>-120</integer>
		<key>y</key>
		<integer>-60</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>T</key>
		<integer>50</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>0</integer>
	</dict>
	<key>public.kern1.7</key>
	<dict>
		<key>four</key>
		<integer>-40</integer>
		<key>three</key>
		<integer>-20</integer>
		<key>two</key>
		<integer>-30</integer>
		<key>zero</key>
		<integer>0</integer>
	</dict>
	<key>public.kern1.H</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.M</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.N</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>J</key>
		<integer>-70</integer>
		<key>Zcaron</key>
		<integer>-20</integer>
		<key>public.kern2.A</key>
		<integer>-90</integer>
		<key>public.kern2.B</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>k</key>
		<integer>-50</integer>
		<key>p</key>
		<integer>-60</integer>
		<key>public.kern2.A</key>
		<integer>-80</integer>
		<key>public.kern2.g</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-110</integer>
		<key>public.kern2.o</key>
		<integer>-120</integer>
		<key>public.kern2.y</key>
		<integer>-150</integer>
		<key>t</key>
		<integer>-70</integer>
		<key>y</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>b</key>
		<integer>-30</integer>
		<key>h</key>
		<integer>-60</integer>
		<key>k</key>
		<integer>-40</integer>
		<key>public.kern2.A</key>
		<integer>-190</integer>
		<key>public.kern2.O</key>
		<integer>-50</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
		<key>public.kern2.g</key>
		<integer>-140</integer>
		<key>public.kern2.n</key>
		<integer>-110</integer>
		<key>public.kern2.o</key>
		<integer>-130</integer>
		<key>public.kern2.period</key>
		<integer>-210</integer>
		<key>public.kern2.y</key>
		<integer>-130</integer>
		<key>semicolon</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.f</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>0</integer>
	</dict>
	<key>public.kern1.g</key>
	<dict>
		<key>T</key>
		<integer>-20</integer>
		<key>public.kern2.f</key>
		<integer>50</integer>
		<key>public.kern2.g</key>
		<integer>70</integer>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
