<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array/>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.license</key>
	<string>       DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
                   Version 2, December 2004

Copyright (C) 2004 Sam Hocevar &lt;sam@hocevar.net&gt;

Everyone is permitted to copy and distribute verbatim or modified
copies of this license document, and changing it is allowed as long
as the name is changed.

           DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
  TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION

 0. You just DO WHAT THE FUCK YOU WANT TO.
</string>
	<key>com.schriftgestaltung.font.panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>0F5677DC-323C-4354-A907-AB73C9939954</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>ampersand</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>asterisk</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Eacute</string>
		<string>Egrave</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Lslash</string>
		<string>Ntilde</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Otilde</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>Scaron</string>
		<string>Uacute</string>
		<string>Ugrave</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Zcaron</string>
		<string>Eth</string>
		<string>aacute</string>
		<string>agrave</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>atilde</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>eacute</string>
		<string>egrave</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>lslash</string>
		<string>oacute</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>otilde</string>
		<string>oslash</string>
		<string>oe</string>
		<string>uacute</string>
		<string>ugrave</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>scaron</string>
		<string>ntilde</string>
		<string>yacute</string>
		<string>zcaron</string>
		<string>slash</string>
		<string>question</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>hungarumlaut</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>bar</string>
		<string>questiondown</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>fraction</string>
		<string>cent</string>
		<string>backslash</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>braceleft</string>
		<string>degree</string>
		<string>braceright</string>
		<string>less</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>equal</string>
		<string>multiply</string>
		<string>divide</string>
		<string>greater</string>
		<string>parenleft</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
		<string>parenright</string>
		<string>period</string>
		<string>quotedblleft</string>
		<string>comma</string>
		<string>quotedblright</string>
		<string>semicolon</string>
		<string>colon</string>
		<string>quotesinglbase</string>
		<string>daggerdbl</string>
		<string>dagger</string>
		<string>ellipsis</string>
		<string>florin</string>
		<string>section</string>
		<string>grave</string>
		<string>circumflex</string>
		<string>ring</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Italic</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>ampersand</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Eacute</string>
		<string>Egrave</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Lslash</string>
		<string>Ntilde</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Scaron</string>
		<string>Uacute</string>
		<string>Ugrave</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Zcaron</string>
		<string>agrave</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>atilde</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>eacute</string>
		<string>egrave</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>lslash</string>
		<string>oacute</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>otilde</string>
		<string>oe</string>
		<string>ntilde</string>
		<string>zcaron</string>
		<string>slash</string>
		<string>question</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>fraction</string>
		<string>backslash</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>parenleft</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
		<string>parenright</string>
		<string>period</string>
		<string>quotedblleft</string>
		<string>comma</string>
		<string>quotedblright</string>
		<string>semicolon</string>
		<string>colon</string>
	</array>
</dict>
</plist>
